#byte compiled / optimized / dll files (python bytecodes?)

__pycache__/
*.py[cod]
*$py.class

#packaging

.Python

#docker???
*.log
dockore-compose.yml

#migrations
migrations/
migrations/versions
migrations/__pycache__
#flask
instance/
.webassets-cache

#tests
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache"
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.pytest_cache/*

#i dunno its necessary
.ipynb_checkpoints

#pycharm? its also not necessary
.idea

#vscode
.vscode/

#windows
Thumbs.db
enthumbs.db
