<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload and View Image</title>
</head>
<body>
    <h1>Upload Image</h1>
    <form action="{{ url_for('s3.upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    
    {% if image_url %}
        <h2>Uploaded Image:</h2>
        <img src="{{ image_url }}" alt="Uploaded Image" style="max-width: 100%; height: auto;">
    {% endif %}
</body>
</html>
